@font-face {
	font-family: irsansl;
	font-style: normal;
	font-weight:;
	src:url('../fonts/IranSansL.eot');
	src:url('../fonts/IranSansL.eot?#iefix') format('embedded-opentype'),
	url('../fonts/IranSansL.woff2') format('woff2'),
	url('../fonts/IranSansL.woff') format('woff'),
	url('../fonts/IranSansL.ttf') format('truetype');
}
@font-face {
	font-family: irsans;
	font-style: normal;
	font-weight:;
	src:url('../fonts/IranSans.eot');
	src:url('../fonts/IranSans.eot?#iefix') format('embedded-opentype'),
	url('../fonts/IranSans.woff2') format('woff2'),
	url('../fonts/IranSans.woff') format('woff'),
	url('../fonts/IranSans.ttf') format('truetype');
}
@font-face {
	font-family: yekan;
	font-style: normal;
	font-weight:;
	src:url('../fonts/yekan.eot');
	src:url('../fonts/yekan.eot?#iefix') format('embedded-opentype'),
	url('../fonts/yekan.woff2') format('woff2'),
	url('../fonts/yekan.woff') format('woff'),
	url('../fonts/yekan.ttf') format('truetype');
}
@font-face {
	font-family: vazir;
	font-style: normal;
	font-weight:;
	src:url('../fonts/Vazir.eot');
	src:url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Vazir.woff2') format('woff2'),
	url('../fonts/Vazir.woff') format('woff'),
	url('../fonts/Vazir.ttf') format('truetype');
}



.menu {
font-family:yekan;
font-size:14px;
border:2px solid red;
border-radius:10px;
height:24px;
font-weight:bolder;
font-stretch:expanded;
background-image:url("../media/02.jpg");
width:350px;
text-align:right;

}

.link {
border:2px;
border-style:double;
border-radius:5px;
background-color:transparent;
background-clip:content-box;
color:black;
color-adjust:500;
padding-bottom:5px;
}


.button {
	background-color: #ffd1fa;
	text-decoration: none;
	font: 17px 'b yekan';
	color: #565656;
	display: line-block;
	padding: 0 33px;
	line-height: 49px;
	border: 1px solid #fff2fa;
	border-right-color: #c393be;
	border-bottom-color: #c393be;
}
.button:hover {
	border-color: #c393be;
	border-right: #fff2fa;
	border-bottom-color: #fff2fa;
}
.button:active {
	background-color: #fae3fd;
}